.section {
  background-image: linear-gradient(
    0deg,
    #a154e0 -3.51%,
    #ff8b3e 33.48%,
    #fee2ce 83.55%,
    #fff2ea 106.3%
  );
}
.button {
  color: #fff;
  background: #974ef2;
  box-shadow: -2.794px 4.19px 9.778px 0px #3e1165,
    -6.286px 6.984px 18.159px 0px #eadaf9 inset,
    2.095px -2.095px 16.063px 0px #5a1c90 inset,
    -3.492px 3.492px 11.175px 0px #dfc6ff inset;

  transition: all 0.3s ease;

  @apply relative z-30 min-h-[36px] rounded-full px-8 py-4 text-xl font-bold xl:text-2xl 2xl:text-3xl;
}
.button:hover {
  color: #d4adf6;
  background: #6e19b9;
  box-shadow: -1.397px 2.095px 5.587px 0px #3e1165,
    -6.286px 6.984px 18.159px 0px rgba(234, 218, 249, 0.5) inset,
    2.095px -2.095px 8.381px 0px #210739 inset,
    -3.492px 3.492px 11.175px 0px #dfc6ff inset;
}

.spin {
  animation: spin 10s linear infinite;
}
.spin2 {
  animation: spin2 16s linear infinite;
}
.marquee {
  position: absolute;
  top: 0;
  animation: marquee 80s linear infinite;
  display: flex;
  flex-direction: column;
}
.marquee2 {
  position: absolute;
  top: 0;
  animation: marquee2 80s linear infinite;
  display: flex;
  flex-direction: column;
}

@keyframes marquee {
  0% {
    top: 0;
  }
  100% {
    top: -200%; /* Moves the images up by two times their height */
  }
}
@keyframes marquee2 {
  0% {
    top: -200%;
  }
  100% {
    top: 0; /* Moves the images up by two times their height */
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
